:root {
  --blackToWhite: #212121;
  --whiteToBlack: #fff;
  --primary: #00ba63;
  --primary-lowAlpha: rgba(0, 186, 99, 0.4);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

body.dark {
  --blackToWhite: #fff;
  --whiteToBlack: #212121;
  --primary: #f44336;
  --primary-lowAlpha: rgba(244, 67, 54, 0.4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--whiteToBlack);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./styles/_header.css";
@import "./styles/_intro.css";
@import "./styles/_works.css";
@import "./styles/_footer.css";
@import "./styles/_aboutShow.css";
@import "./styles/_aboutMe.css";
@import "./styles/_aboutTechs.css";
@import "./styles/_contact.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
}

* {
  font-family: "Space Mono", monospace;
}

#home,
#about {
  margin-top: 100px;
  padding: 0 100px;
}

@media screen and (max-width: 768px) {
  #home,
  #about {
    padding: 0 30px;
  }
}
