#about-show {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 50px 0 120px 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tencity-text {
  font-size: 72px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.5em;
  user-select: none;
}

.tencity-text:hover {
  font-style: italic;
}

.glitch {
  position: relative;
  font-size: 4em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #f44336;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00ba63, 2px 2px #f44336;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(26px, 9999px, 74px, 0);
    transform: skew(0.57deg);
  }
  5% {
    clip: rect(83px, 9999px, 61px, 0);
    transform: skew(0.53deg);
  }
  10% {
    clip: rect(30px, 9999px, 7px, 0);
    transform: skew(0.03deg);
  }
  15% {
    clip: rect(75px, 9999px, 38px, 0);
    transform: skew(0.4deg);
  }
  20% {
    clip: rect(57px, 9999px, 94px, 0);
    transform: skew(0.73deg);
  }
  25% {
    clip: rect(84px, 9999px, 44px, 0);
    transform: skew(0.49deg);
  }
  30% {
    clip: rect(77px, 9999px, 40px, 0);
    transform: skew(0.05deg);
  }
  35% {
    clip: rect(56px, 9999px, 45px, 0);
    transform: skew(0.84deg);
  }
  40% {
    clip: rect(89px, 9999px, 36px, 0);
    transform: skew(0.45deg);
  }
  45% {
    clip: rect(43px, 9999px, 71px, 0);
    transform: skew(0.09deg);
  }
  50% {
    clip: rect(87px, 9999px, 66px, 0);
    transform: skew(0.6deg);
  }
  55% {
    clip: rect(86px, 9999px, 40px, 0);
    transform: skew(0.1deg);
  }
  60% {
    clip: rect(88px, 9999px, 79px, 0);
    transform: skew(0.41deg);
  }
  65% {
    clip: rect(75px, 9999px, 22px, 0);
    transform: skew(0.61deg);
  }
  70% {
    clip: rect(54px, 9999px, 83px, 0);
    transform: skew(0.64deg);
  }
  75% {
    clip: rect(12px, 9999px, 1px, 0);
    transform: skew(0.29deg);
  }
  80% {
    clip: rect(80px, 9999px, 42px, 0);
    transform: skew(0.86deg);
  }
  85% {
    clip: rect(61px, 9999px, 29px, 0);
    transform: skew(0.63deg);
  }
  90% {
    clip: rect(62px, 9999px, 15px, 0);
    transform: skew(0.88deg);
  }
  95% {
    clip: rect(55px, 9999px, 88px, 0);
    transform: skew(0.48deg);
  }
  100% {
    clip: rect(93px, 9999px, 7px, 0);
    transform: skew(0.39deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(53px, 9999px, 96px, 0);
    transform: skew(0.02deg);
  }
  5% {
    clip: rect(83px, 9999px, 31px, 0);
    transform: skew(0.87deg);
  }
  10% {
    clip: rect(90px, 9999px, 99px, 0);
    transform: skew(0.71deg);
  }
  15% {
    clip: rect(7px, 9999px, 65px, 0);
    transform: skew(0.54deg);
  }
  20% {
    clip: rect(40px, 9999px, 45px, 0);
    transform: skew(0.57deg);
  }
  25% {
    clip: rect(89px, 9999px, 35px, 0);
    transform: skew(0.84deg);
  }
  30% {
    clip: rect(15px, 9999px, 12px, 0);
    transform: skew(0.6deg);
  }
  35% {
    clip: rect(1px, 9999px, 34px, 0);
    transform: skew(0.1deg);
  }
  40% {
    clip: rect(95px, 9999px, 88px, 0);
    transform: skew(0.68deg);
  }
  45% {
    clip: rect(89px, 9999px, 48px, 0);
    transform: skew(0.63deg);
  }
  50% {
    clip: rect(90px, 9999px, 51px, 0);
    transform: skew(0.37deg);
  }
  55% {
    clip: rect(64px, 9999px, 81px, 0);
    transform: skew(0.98deg);
  }
  60% {
    clip: rect(70px, 9999px, 30px, 0);
    transform: skew(0.95deg);
  }
  65% {
    clip: rect(68px, 9999px, 62px, 0);
    transform: skew(0.56deg);
  }
  70% {
    clip: rect(41px, 9999px, 92px, 0);
    transform: skew(0.82deg);
  }
  75% {
    clip: rect(34px, 9999px, 41px, 0);
    transform: skew(0.57deg);
  }
  80% {
    clip: rect(100px, 9999px, 82px, 0);
    transform: skew(0.65deg);
  }
  85% {
    clip: rect(17px, 9999px, 83px, 0);
    transform: skew(0.7deg);
  }
  90% {
    clip: rect(72px, 9999px, 9px, 0);
    transform: skew(0.71deg);
  }
  95% {
    clip: rect(52px, 9999px, 94px, 0);
    transform: skew(0.18deg);
  }
  100% {
    clip: rect(88px, 9999px, 22px, 0);
    transform: skew(0.89deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(3deg);
  }
}

@media screen and (max-width: 576px) {
  .about-show {
    max-height: 450px;
    padding: 50px;
  }

  .tencity-text {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 768px) {
  .about-show {
    max-height: 500px;
    padding: 50px;
  }

  .tencity-text {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-show {
    max-height: 500px;
    padding: 50px;
  }

  .tencity-text {
    font-size: 36px !important;
  }
}

@media screen and (min-height: 750px) {
  .about-show {
    padding: 50px 0 100px 0;
  }
}

@media screen and (min-height: 1024px) {
  .about-show {
    padding: 100px 0 100px 0;
  }
}
