#intro {
  position: relative;
}

.intro-img-container {
  width: 200px;
  height: 225px;
  margin-bottom: 30px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

#greetings,
#sub-greetings {
  color: var(--blackToWhite);
}

#greetings {
  font-size: 48px;
  font-weight: bold;
}

#sub-greetings {
  font-size: 24px;
  margin: 30px 0 10px 0;
  line-height: 150%;
}

#code {
  background-color: var(--primary);
  color: #fff;
  padding: 0 10px;
}

.intro-text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social-key-area {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#social-key-area .key:nth-of-type(2) {
  margin: 35px 0;
}

#social-key-area .key:nth-of-type(4) {
  margin-top: 35px;
}

.key {
  background-color: var(--blackToWhite);
}

.key:hover a {
  background-color: var(--primary);
}

.key:hover .key-icon,
.key:hover .key-text {
  color: #fff !important;
}

.key a {
  background-color: var(--whiteToBlack);
}

.key-icon {
  color: var(--blackToWhite);
}

.key-text {
  color: var(--blackToWhite);
}

#hire-key-area {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  #greetings {
    font-size: 36px;
  }

  #sub-greetings {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  #social-key-area {
    position: static;
    flex-direction: row;
    transform: none;
    margin: 20px 0 10px 0;
  }

  #social-key-area .key:nth-of-type(2) {
    margin: 0 15px;
  }

  #social-key-area .key:nth-of-type(4) {
    margin: 0 0 0 15px;
  }
}
